<footer class="footer">
  <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://bitbucket.org/{{profileData.bitbucket}}/" target="_blank">
      <i class="fa fa-bitbucket fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-instagram btn btn-link" href="https://www.linkedin.com/in/{{profileData.linkedin}}/" target="_blank">
      <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
    </a>

  </div>
  <div class="text-center text-muted">
    <p>&copy; All rights reserved. - {{profileData.fName + ' ' + profileData.lName}}
    </p>
    <p>This website was created in <a href="https://angular.io/" target="_blank"><img src="assets/images/angular.png" height=25 width=25></a></p>
  </div>
</footer>