<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card" *ngFor="let experience of exprienceData">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{experience?.from_to_month_year}}</p>
            <div class="h5">{{experience?.organization}}</div>
            <div class="h5"><img style="height:75px" src="assets/images/{{experience?.logo}}" /></div>

          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{experience?.designation}}</div>
            <p [innerHTML]="experience?.details"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>