<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am Alejandro Fernández, full stack Developer and Senior DevOps Engineer. </p>
            <p>I was born in Cuba, but at the age of 7 I moved to South Africa, where I learnt how to speak English.
              After 3 years, we decided to move to Spain, where I've spent the bigger part of my life. I consider
              English as my native language, as I speak it every day and I have a habit of watching/listening to
              everything in English.</p>
            <p>I like getting involved in many things. I started as a Systems Administratior, but it was never enough
              for me. Soon enough I was developing websites with the latest technologies, but never losing my roots of
              being a DevOps.</p>
            <p>Having a development background allows me to understand much better the DevOps culture, I can provide the
              best solutions in the most optimal way.</p>
            <p>Providing solutions is my motivation, helping people out, being a team player and motivating people is
              what drives me. Following Scrum Team methodologies (LESS), I like involving myself in all the teams, that
              way I can hear their concerns and try to provide them with a solution, or help in any way I can.</p>
            <p>I'm also a fast learner, I adapt quickly to changes and always give it my best!</p>
            <p>Even though I'm a DevOps, I don't lose practice in development. I like doing small projects on my free
              time, like this website. You can check them in my BitBucket repository.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">{{profileData.birth}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">{{profileData.email}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">{{profileData.phone}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Location:</strong>
              </div>
              <div class="col-sm-8">
                {{profileData.location}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Languages</strong>
              </div>
              <div class="col-sm-8">
                <span *ngFor="let language of profileData.languages; let i=index">
                  {{language}}{{i === profileData.languages.length - 1 ? '' : ', '}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>