.tech-slideshow {
    height: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 60s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 60s linear infinite;
  }


  .tech-slideshow > div {
    height: 250px;
    width: 10000px;
    background: url('/assets/images/stack.png');
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }  
  
  @keyframes moveSlideshow {
    0%{
        transform: translate3d(0, 0, 0);
      }

    100% { 
      transform: translateX(-90%);
    }
  }
  