<div class="section" id="stack">
  <div class="cc-slider-information">
    <div class="container">
      <div class="h4 text-center mb-4 title">Tech Stack</div>
      <div class="cc-slider">
        <div class="row">
          <div class="tech-slideshow">
            <div class="mover-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>