<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/background.jpeg');"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/alejandro.png" alt="Image" />
            </a>
          </div>
          <div class="h2 title">{{profileData.fName + ' ' + profileData.lName}}</div>
          <p class="category text-white">{{profileData.title}}</p>
          <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a> -->
          <a class="btn btn-primary" href="/assets/CV_Alejandro.pdf" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/{{profileData.linkedin}}" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://bitbucket.org/{{profileData.bitbucket}}/" target="_blank">
              <i class="fa fa-bitbucket"></i>
            </a>
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
              <i class="fa fa-google-plus"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>