<app-header></app-header>
<div class="page-content">
    <app-intro></app-intro>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-slider></app-slider>
    <app-education></app-education>
    <app-experience></app-experience>
    <app-contact></app-contact>
</div>
<app-footer></app-footer>
<!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button (click)="scrollToTop()" class="btn btn-default btn-circle roundCircle">
        <i class="fa fa-chevron-up"></i>
    </button>
</div>
<ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#033d5b" type="ball-spin-clockwise"></ngx-spinner>
