.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.show-scrollTop {
opacity: 1;
transition: all .2s ease-in-out;
}

button.roundCircle{
    border-radius: 20px;
    padding: 11px 15px;
}